<header id="header">
  <a class="home-link" href="/">
    <img class="logo" src="https://angular.io/resources/images/logos/angular2/angular.png">
  </a>
  <div class="header-text">
    <div class="left">
      <h1 class="name">
        <a href="/">Light HackerNews feed</a>
      </h1>
      <span class="header-nav">
        <a href="demo">databinding</a>
      </span>
    </div>
    <div class="info">
      <!--Built with <a href="https://cli.angular.io/" target="_blank">Angular CLI</a>-->
    </div>
  </div>
</header>
