<div *ngIf="!item" class="loading-section">
  No item here
</div>
<div *ngIf="item">

<div class="item-laptop">
  <p>
      <a class="title" href="{{item.url}}">
        {{item.title}}
      </a>
  </p>
    <div class="subtext-laptop">
      {{item.score}} points by
      <a href="https://news.ycombinator.com/user?id={{item.by}}">{{item.by}}</a>
      {{ item.time }}
        <span *ngIf="item.descendants !== 0">
          {{item.descendants}}
          <span *ngIf="item.descendants === 1">comment</span>
          <span *ngIf="item.descendants > 1">comments</span>
        </span>
        <span *ngIf="item.descendants === 0">discuss</span>

    </div>
  </div>

</div>
